@import 'styles/global.scss';
@import 'styles/mixin.scss';

.container {
  display: flex;
  font-size: 1.4rem;
  color: $color-767676;
  > button {
    padding: 1rem;
    &:hover {
      opacity: 0.5;
    }
  }
}

.modal {
  @include modalContainer;
  @include customScroll;
  width: 70rem;
  max-height: 80%;
  overflow-y: auto;
  padding: 3rem 5rem;
  .title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
  }
  .inputFile {
    border: 1px solid $color-main;
    text-align: center;
    width: 50%;
    padding: 0.5rem 0;
    font-size: 1.6rem;
    border-radius: 1rem;
    input {
      display: none;
    }
  }
  .guide {
    margin-left: auto;
    font-size: 1.4rem;
    color: $color-767676;
  }
  .contentWrapper {
    width: 100%;
    border: 1px solid $color-767676;
    font-size: 1.8rem;
    border-radius: 1rem;
    overflow: hidden;
    min-height: 20rem;
    .content {
      width: 100%;
      line-height: 2;
      padding: 1rem;
      resize: none;
      outline: none;
      min-height: 20rem;
    }
  }
  .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@include mobile {
  .modal {
    width: 80%;
    padding: 1rem;
    .title {
      font-size: 2rem;
    }
    .contentWrapper {
      font-size: 1.6rem;
      .content {
        line-height: 1.8;
      }
    }
  }
}
