@import 'styles/global.scss';

.card {
  width: 38rem;
  min-width: 38rem;
  height: 49rem;
  background-color: #fff;
  .link {
    display: inline-block;
    width: 100%;
    height: 100%;
    &:hover {
      .wrapper {
        .image {
          opacity: 1;
          transform: scale(1.05);
        }
      }
      .name,
      .container {
        opacity: 0.5;
      }
    }
    .wrapper {
      width: 100%;
      height: 38rem;
      margin-bottom: 1rem;
      border-radius: 1rem;
      border: 1px solid $color-c4c4c4;
      overflow: hidden;
      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: transform 0.3s;
      }
    }
    .name {
      font-size: 1.8rem;
      color: #000;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .container {
      .price {
        font-size: 2.4rem;
        font-weight: 700;
        color: #000;
      }
      .won {
        font-size: 1.6rem;
      }
    }
    .time {
      font-size: 1.4rem;
      color: $color-767676;
    }
  }
}
