@import 'styles/global.scss';
@import 'styles/mixin.scss';

.card {
  width: 32rem;
  min-width: 32rem;
  height: fit-content;
  background-color: #fff;
  justify-self: center;
  .link {
    display: inline-block;
    width: 100%;
    height: 100%;
    &:hover {
      .wrapper {
        .image {
          opacity: 1;
          transform: scale(1.05);
        }
      }
      .name,
      .container {
        opacity: 0.5;
      }
    }
    .wrapper {
      width: 100%;
      aspect-ratio: 1/1;
      margin-bottom: 1rem;
      border-radius: 1rem;
      border: 1px solid $color-c4c4c4;
      overflow: hidden;
      .image {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        transform: scale(1);
        transition: transform 0.3s;
      }
    }
    .name {
      font-size: 1.8rem;
      color: #000;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .container {
      .price {
        font-size: 2.4rem;
        font-weight: 700;
        color: #000;
      }
      .won {
        font-size: 1.6rem;
      }
    }
    .time {
      font-size: 1.4rem;
      color: $color-767676;
    }
  }
}

@include desktop {
  .card {
    width: 28rem;
    min-width: 28rem;
    .link {
      .wrapper {
        margin-bottom: 0.8rem;
      }
      .name {
        font-size: 1.7rem;
      }
      .container {
        .price {
          font-size: 2.2rem;
        }
        .won {
          font-size: 2rem;
        }
      }
      .time {
        font-size: 1.4rem;
      }
    }
  }
}
@include tablet {
  .card {
    width: 22rem;
    min-width: 22rem;
    .link {
      .wrapper {
        margin-bottom: 0.5rem;
      }
      .name {
        font-size: 1.6rem;
      }
      .container {
        .price {
          font-size: 2rem;
        }
        .won {
          font-size: 1.8rem;
        }
      }
      .time {
        font-size: 1.2rem;
      }
    }
  }
}
@include mobile {
  .card {
    width: calc(50% - 1rem);
    min-width: calc(50% - 1rem);
  }
}
