@import 'styles/global.scss';

.section {
  .contentBox {
    border-radius: 1rem;
    border: 0.1rem solid $color-main;
    padding: 5rem;

    font-size: 3rem;
    > section {
      margin-bottom: 2rem;
      > h2 {
        margin-bottom: 1rem;
      }
    }

    .imageContainer {
      margin-top: 2rem;
      .imageInput {
        display: block;
        border: 0.1rem solid $color-main;
        border-radius: 1rem;
        width: 35%;
        padding: 0.5rem;
        color: #999999;
      }

      .imagePreviewContainer {
        text-align: center;
        .imagePreview {
          border-radius: 1rem;
          width: 30rem;
          height: 30rem;
          object-fit: cover;
          margin: 1rem 0;
        }
      }
    }

    .nameContainer {
      .name {
        width: 95%;
        display: block;
        box-sizing: border-box;
        padding: 1rem;
        background-color: #f0f0f0;
        border: none;
        border-radius: 1rem;
      }

      .counter {
        width: 95%;
        display: block;
        text-align: end;
        font-size: 2rem;
      }
    }

    .priceTitle {
      display: flex;
      gap: 1rem;
    }

    .price {
      width: 95%;
      display: inline-block;
      padding: 1rem;
      border-radius: 1rem;
      background-color: #f0f0f0;
      text-align: end;
    }
    .won {
      margin: 1rem;
    }

    .btn {
      margin-right: 2.5rem;
      text-align: end;
    }
  }
}
