@import 'styles/global.scss';

.card {
  padding: 1rem 32rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 3rem;
  }

  .link {
    font-size: 2rem;
    color: $color-main;
  }
}

.feedBox {
  display: flex;
  gap: 3rem;
  margin: 1rem 32rem;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-main;
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-track {
    background-color: $color-c4c4c4;
    border-radius: 1rem;
    box-shadow: inset 0rem 0rem 0.5rem white;
  }
}
