@mixin largeButtonCS {
  width: 22rem;
  height: 6.8rem;
  border-radius: 1rem;
  padding: 1.3rem;
  font-size: 1.4rem;
  align-items: center;
}

@mixin mediumButtonCS {
  width: 48rem;
  height: 6rem;
  border-radius: 1rem;
  padding: 0.8rem;
  font-size: 1.4rem;
  align-items: center;
}

@mixin msmallButtonCS {
  width: 16.6rem;
  height: 5.4rem;
  font-size: 1.4rem;
  align-items: center;
  border-radius: 1rem;
  padding: 0.7rem;
}

@mixin smallButtonCS {
  width: 8rem;
  height: 4rem;
  font-size: 1.2rem;
  align-items: center;
  border-radius: 1rem;
  padding: 0.7rem;
}
