@import 'styles/global.scss';
@import 'styles/mixin.scss';

.form {
  border: 0.1rem solid $color-c4c4c4;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 4rem 0;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  width: 55rem;
  .link {
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-767676;
    text-align: center;
    .signup {
      text-decoration: underline;
      color: $color-main;
      font-weight: 700;
    }
  }
}

@include tablet {
  .form {
    width: 50rem;
  }
}

@include mobile {
  .form {
    width: 70%;
    gap: 2rem;
    margin-top: 2rem;
    border: none;
    .link {
      font-size: 1.4rem;
    }
  }
}
