@import 'styles/global.scss';
@import 'styles/mixin.scss';

.container {
  display: flex;
  position: relative;
  .button {
    display: flex;
    align-items: center;
    padding: 0;
    &:hover {
      opacity: 0.5;
    }
    .image {
      width: 2.4rem;
      height: 2.4rem;
    }
    .text {
      font-size: 1.4rem;
      color: $color-767676;
      margin-left: 0.4rem;
    }
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}
@include mobile {
  .container {
    .button {
      .image {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
