@import 'styles/global.scss';
@import 'styles/mixin.scss';

.title {
  width: 23rem;
  aspect-ratio: 23/7.5;
  img {
    width: 100%;
    height: 100%;
  }
}

@include tablet {
  .title {
    width: 20rem;
  }
}

@include mobile {
  .title {
    width: 16rem;
  }
}
