@import 'styles/global.scss';
@import 'styles/mixin.scss';

.form {
  border: 0.1rem solid $color-c4c4c4;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 4rem;
  margin-top: 6rem;
  .uploadIcon {
    width: 3.6rem;
    height: 3.6rem;
  }
  .link {
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-767676;
    text-align: center;
    .login {
      color: $color-main;
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

@include tablet {
  .form {
    margin-top: 3rem;
  }
}
@include mobile {
  .form {
    width: 100%;
    border: none;
    margin-top: 0rem;
    .link {
      font-size: 1.4rem;
    }
  }
}
