{
  "root": true,
  "extends": ["react-app", "eslint:recommended", "prettier"],
  "rules": {
    "require-await": "error",
    "eqeqeq": "error",
    "no-var": "error",
    "no-unused-vars": "off",
    "no-multiple-empty-lines": "error"
  }
}
