@import 'styles/global.scss';

.item {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  .image {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    border-radius: 50%;
    border: 1px solid $color-c4c4c4;
    object-fit: cover;
  }
  .name {
    max-width: 70%;
    .user {
      font-size: 1.6rem;
      font-weight: 700;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .account {
      font-size: 1.2rem;
      color: $color-767676;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
