@import 'styles/global.scss';

.smallButton {
  color: #fff;
  width: 8rem;
  height: 4rem;
  background: $color-21bf48;
  border-radius: 1rem;
  padding: 0.7rem;
  font-size: 1.2rem;
  align-items: center;
}
.smallButtonDisabled {
  color: #767676;
  border: 0.1rem solid $color-c4c4c4;
  width: 8rem;
  height: 4rem;
  background: #fff;
  border-radius: 1rem;
  padding: 0.7rem;
  font-size: 1.2rem;
  align-items: center;
}

.smallWhiteButton {
  color: #000;
  border: 0.1rem solid $color-767676;
  width: 8rem;
  height: 4rem;
  background: #fff;
  border-radius: 1rem;
  padding: 0.7rem;
  font-size: 1.2rem;
  align-items: center;
}
