@import 'styles/global.scss';
@import '../ButtonMixin.scss';

.smallButton {
  @include smallButtonCS;
  color: #fff;
  background: $color-main;
}
.smallButtonDisabled {
  @include smallButtonCS;
  color: #767676;
  border: 0.1rem solid $color-c4c4c4;
  background: #fff;
}

.smallWhiteButton {
  @include smallButtonCS;
  color: #000;
  border: 0.1rem solid $color-767676;
  background: #fff;
}
