@import 'styles/mixin.scss';

.container {
  @include modalContainer;
  .title {
    margin-right: auto;
    font-size: 2rem;
    font-weight: 700;
  }
  .buttonContainer {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
  }
}

@include mobile {
  .container {
    width: 70%;
    .title {
      font-size: 1.8rem;
    }
    .buttonContainer {
      margin-top: 1rem;
    }
  }
}
