@import 'styles/global.scss';
@import 'styles/mixin.scss';

.form {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 2rem;
  font-size: 1.6rem;
  border: 1px solid $color-c4c4c4;
  h3 {
    font-size: 1.8rem;
    font-weight: 700;
  }
  .imageTitle {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    .imageInput {
      color: $color-main;
      font-weight: 700;
      padding-left: 2rem;
      position: relative;
      cursor: pointer;
      > img {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-45%);
        width: 2rem;
        height: 2rem;
        margin-right: 0.2rem;
      }
      > input {
        display: none;
      }
    }
  }
  .image {
    width: 80%;
    max-width: 70rem;
    margin: 0 auto;
  }
  .noimage {
    width: 100%;
    padding: 2rem;
    text-align: center;
    object-fit: cover;
    border-radius: 1rem;
    background-color: $color-f0f0f0;
    color: $color-c4c4c4;
    font-weight: 700;
  }
  .contentContainer {
    margin-top: 3rem;
    .contentTitle {
      display: flex;
      margin-bottom: 1rem;
      align-items: center;
      gap: 0.5rem;
      > button {
        width: 2.5rem;
        height: 2.5rem;
        background: url('/assets/img/icon-refresh.svg') no-repeat center/2.5rem 2.5rem;
      }
    }
    .contentWrapper {
      width: 100%;
      border: 1px solid $color-767676;
      border-radius: 1rem;
      font-size: 1.8rem;
      overflow: hidden;
      height: 20rem;
      .content {
        width: 100%;
        line-height: 2;
        resize: none;
        padding: 1rem;
        outline: none;
        min-height: 20rem;
      }
    }

    .counter {
      text-align: end;
      font-size: 1.6rem;
      color: $color-767676;
    }
  }
  > button {
    margin-top: 2rem;
    align-self: end;
  }
}

@include mobile {
  .form {
    font-size: 1.4rem;
    border: none;
    padding: 0;
    h3 {
      font-size: 1.6rem;
      font-weight: 700;
    }
    .contentContainer {
      margin-top: 2rem;
      .contentWrapper {
        font-size: 1.6rem;
        height: 15rem;
        .content {
          line-height: 1.6;
          min-height: 15rem;
        }
      }
      .counter {
        font-size: 1.4rem;
      }
    }
    > button {
      margin-top: 1rem;
    }
  }
}
