@import 'styles/global.scss';
@import 'styles/mixin.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  .label {
    display: flex;
    flex-direction: column;
    width: 48rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-767676;
    .input {
      border-bottom: 0.1rem solid $color-c4c4c4;
      padding: 1rem 0;
    }
  }
  .errorMessage {
    font-size: 1.2rem;
    font-weight: 400;
    color: #eb5757;
    height: 1.2rem;
  }
}

@include tablet {
  .container {
    .label {
      width: 45rem;
      font-size: $mobile-font-size;
      .input {
      }
    }
  }
}
@include mobile {
  .container {
    width: 100%;
    .label {
      width: 90%;
      .input {
        font-size: 1.4rem;
      }
    }
  }
}
