@mixin gridFeed {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(36rem, 1fr));
  gap: 2rem;
}

@mixin gridProduct {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  gap: 2rem;
}

@mixin largeButtonCS {
  width: 22rem;
  height: 6.8rem;
  border-radius: 1rem;
  padding: 1.3rem;
  font-size: 2.4rem;
  align-items: center;
  &:hover:not(:disabled) {
    opacity: 0.5;
  }
}

@mixin mediumButtonCS {
  width: 48rem;
  height: 6rem;
  border-radius: 1rem;
  padding: 0.8rem;
  font-size: 1.8rem;
  align-items: center;
  &:hover:not(:disabled) {
    opacity: 0.5;
  }
}

@mixin msmallButtonCS {
  width: 16.6rem;
  height: 5.4rem;
  font-size: 1.6rem;
  align-items: center;
  border-radius: 1rem;
  padding: 0.7rem;
  &:hover:not(:disabled) {
    opacity: 0.5;
  }
}

@mixin smallButtonCS {
  width: 8rem;
  height: 4rem;
  font-size: 1.6rem;
  align-items: center;
  border-radius: 1rem;
  padding: 0.7rem;
  &:hover:not(:disabled) {
    opacity: 0.5;
  }
}

@mixin modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 1rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
