$desktop: 1920px;
$tablet: 1024px;
$mobile: 768px;

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin gridFeed {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(36rem, 1fr));
  gap: 2rem;
  @include desktop {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 1.6rem;
  }
  @include tablet {
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    gap: 1.2rem;
  }
  @include mobile {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
  }
}

@mixin gridProduct {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  gap: 2rem;
  @include desktop {
    grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
    gap: 1.6rem;
  }
  @include tablet {
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    gap: 1.2rem;
  }
  @include mobile {
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 1rem;
  }
}

@mixin largeButtonCS {
  width: 22rem;
  height: 6.8rem;
  border-radius: 1rem;
  padding: 1.3rem;
  font-size: 2.4rem;
  align-items: center;
  &:hover:not(:disabled) {
    opacity: 0.5;
  }
  @include tablet {
    width: 20rem;
    padding: 1.2rem;
    font-size: 2.2rem;
  }
  @include mobile {
    width: 15rem;
    height: 6rem;
    padding: 1rem;
    font-size: 2rem;
  }
}

@mixin mediumButtonCS {
  width: 48rem;
  height: 6rem;
  border-radius: 1rem;
  padding: 0.8rem;
  font-size: 1.8rem;
  align-items: center;
  &:hover:not(:disabled) {
    opacity: 0.5;
  }
  @include tablet {
    width: 45rem;
  }
  @include mobile {
    width: 90%;
    height: 5rem;
    font-size: 1.4rem;
  }
}

@mixin msmallButtonCS {
  width: 16.6rem;
  height: 5.4rem;
  font-size: 1.6rem;
  align-items: center;
  border-radius: 1rem;
  padding: 0.7rem;
  &:hover:not(:disabled) {
    opacity: 0.5;
  }
}

@mixin smallButtonCS {
  width: 9rem;
  height: 4rem;
  font-size: 1.6rem;
  align-items: center;
  border-radius: 1rem;
  padding: 0.7rem;
  &:hover:not(:disabled) {
    opacity: 0.5;
  }
}

@mixin modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 1rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
