@import 'styles/global.scss';

.modal {
  border: 0.2rem solid $color-main;
  border-radius: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem;
  width: 60rem;
  .title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    .inputFile {
      border: 1px solid $color-main;
      text-align: center;
      width: 50%;
      margin: 0 auto;
      padding: 0.5rem 0;
      font-size: 1.4rem;
      border-radius: 0.5rem;
      input {
        display: none;
      }
    }
    .content {
      resize: none;
      height: 30rem;
      outline: none;
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    > button {
      flex: 1;
    }
  }
  .submitButton {
    width: 100%;
    border: 1px solid black;
    margin-top: 1rem;
  }
}

// product
.inputLabel {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  .itemInput {
    border: 1px solid lightgray;
    padding: 1rem;
    font-size: 1.2rem;
  }
}
