@import 'styles/global.scss';

.card {
  margin-bottom: 5rem;
  .title {
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
  }
}

.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1rem;
}
