@import 'styles/global.scss';
@import 'styles/mixin.scss';

.container {
  @include modalContainer;
  width: 50rem;
  max-height: 50rem;
  .title {
    font-size: 1.8rem;
    font-weight: 900;
  }
  .list {
    overflow-y: auto;
    width: 100%;
    padding: 1rem;
  }
  .noUser {
    font-size: 1.6rem;
    color: $color-767676;
    text-align: center;
  }
}

@include tablet {
  .container {
    width: 70%;
  }
}
@include mobile {
  .container {
    width: 80%;
    .title {
      font-size: 1.6rem;
    }
  }
}
