@import 'styles/global.scss';
@import 'styles/mixin.scss';

.profile {
  display: flex;
  align-items: center;
  &:hover {
    opacity: 0.5;
  }
  .image {
    width: 4rem;
    aspect-ratio: 1/1;
    margin-right: 1rem;
    border-radius: 50%;
    border: 1px solid $color-c4c4c4;
    object-fit: cover;
  }
  .author {
    max-width: 25rem;
    .user {
      font-size: 1.6rem;
      font-weight: 700;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .account {
      font-size: 1.2rem;
      color: $color-767676;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@include desktop {
  .profile {
    .image {
      width: 3.8rem;
    }
    .author {
      max-width: 18rem;
    }
  }
}
@include tablet {
  .profile {
    .image {
      width: 3.6rem;
    }
    .author {
      max-width: 15rem;
      .user {
        font-size: 1.4rem;
      }
    }
  }
}
@include mobile {
  .profile {
    max-width: 60%;
    .image {
      width: 3.5rem;
    }
    .author {
      max-width: 80%;
      .user {
        font-size: $mobile-font-size;
      }
    }
  }
}
