@import 'styles/global.scss';

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 2rem;
  height: 100%;
}

.feedImageContainer {
  border: 1px solid red;
  width: 40rem;
  height: 30rem;
  display: flex;
  gap: 2rem;
  overflow-x: scroll;
  li {
    border: 1px solid blue;
    width: 30rem;
    overflow: hidden;
  }
  .image {
    border: 5px solid red;
  }
}
