@import 'styles/global.scss';
@import 'styles/mixin.scss';

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    font-size: 3rem;
  }
  .link {
    font-size: 2rem;
    color: $color-main;
    &:hover {
      opacity: 0.5;
    }
  }
}

.box {
  display: flex;
  gap: 3rem;
  margin: 3rem 0;
  padding-bottom: 3rem;
  overflow-x: scroll;
  > article {
    width: 32rem;
    min-width: 32rem;
  }
  @include customScroll;
}

@include desktop {
  .card {
    .title {
      font-size: 2.7rem;
    }
    .link {
      font-size: 1.8rem;
      color: $color-main;
    }
  }
  .box {
    gap: 2.5rem;
    > article {
      width: 28rem;
      min-width: 28rem;
    }
  }
}
@include tablet {
  .card {
    .title {
      font-size: 2.5rem;
    }
    .link {
      font-size: 1.6rem;
      color: $color-main;
    }
  }
  .box {
    gap: 2rem;
    > article {
      width: 22rem;
      min-width: 22rem;
    }
  }
}
@include mobile {
  .card {
    .title {
      font-size: 2rem;
    }
    .link {
      font-size: 1.4rem;
      color: $color-main;
    }
  }
  .box {
    gap: 1.5rem;
    margin-top: 2rem;
    > article {
      width: 18rem;
      min-width: 18rem;
    }
  }
}
