.mediumButton {
  color: #fff;
  width: 48rem;
  height: 6rem;
  background: #21bf48;
  border-radius: 1rem;
  padding: 0.8rem;
  font-size: 1.4rem;
  align-items: center;
}
.mediumButtonDisabled {
  color: #fff;
  width: 48rem;
  height: 6rem;
  background: #c4c4c4;
  border-radius: 1rem;
  padding: 0.8rem;
  font-size: 1.4rem;
  align-items: center;
}

.mediumDarkButton {
  color: #fff;
  width: 48rem;
  height: 6rem;
  background: #767676;
  border-radius: 1rem;
  padding: 0.8rem;
  font-size: 1.4rem;
  align-items: center;
}

.mediumWhiteButton {
  color: #767676;
  border: 1px solid #0a0a0a;
  width: 48rem;
  height: 6rem;
  background: #fff;
  border-radius: 1rem;
  padding: 0.8rem;
  font-size: 1.4rem;
  align-items: center;
}
