@import 'styles/global.scss';

.mediumButton {
  color: #fff;
  width: 48rem;
  height: 6rem;
  background: $color-21bf48;
  border-radius: 1rem;
  padding: 0.8rem;
  font-size: 1.4rem;
  align-items: center;
}
.mediumButtonDisabled {
  color: #fff;
  width: 48rem;
  height: 6rem;
  background: $color-c4c4c4;
  border-radius: 1rem;
  padding: 0.8rem;
  font-size: 1.4rem;
  align-items: center;
}

.mediumDarkButton {
  color: #fff;
  width: 48rem;
  height: 6rem;
  background: $color-767676;
  border-radius: 1rem;
  padding: 0.8rem;
  font-size: 1.4rem;
  align-items: center;
}

.mediumWhiteButton {
  color: $color-767676;
  border: 1px solid #0a0a0a;
  width: 48rem;
  height: 6rem;
  background: #fff;
  border-radius: 1rem;
  padding: 0.8rem;
  font-size: 1.4rem;
  align-items: center;
}
