.mediumButton {
  color: #fff;
  width: 480px;
  height: 60px;
  background: #21bf48;
  border-radius: 10px;
  padding: 8px;
  font-size: 14px;
  align-items: center;
}
.mediumButtonDisabled {
  color: #fff;
  width: 480px;
  height: 60px;
  background: #c4c4c4;
  border-radius: 10px;
  padding: 8px;
  font-size: 14px;
  align-items: center;
}

.mediumDarkButton {
  color: #fff;
  width: 480px;
  height: 60px;
  background: #767676;
  border-radius: 10px;
  padding: 8px;
  font-size: 14px;
  align-items: center;
}

.mediumWhiteButton {
  color: #767676;
  border: 1px solid #0a0a0a;
  width: 480px;
  height: 60px;
  background: #fff;
  border-radius: 10px;
  padding: 8px;
  font-size: 14px;
  align-items: center;
}
