.msmallButton {
  color: #fff;
  width: 166px;
  height: 54px;
  background: #21bf48;
  border-radius: 10px;
  padding: 7px;
  font-size: 14px;
  align-items: center;
}
.msmallButtonDisabled {
  color: #fff;
  width: 166px;
  height: 54px;
  background: #c4c4c4;
  border-radius: 10px;
  padding: 7px;
  font-size: 14px;
  align-items: center;
}

.msmallWhiteButton {
  color: #767676;
  width: 166px;
  height: 54px;
  background: #fff;
  border-radius: 10px;
  padding: 7px;
  font-size: 14px;
  align-items: center;
}
