@import 'styles/global.scss';
@import 'styles/mixin.scss';

.container {
  height: 40rem;
  font-size: 1.8rem;
  color: $color-767676;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.2rem dashed $color-c4c4c4;
  border-radius: 1rem;
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > img {
      width: 12rem;
      aspect-ratio: 4/5;
    }
    .text {
      margin-top: 2rem;
    }
  }
  > button {
    &:hover {
      opacity: 0.5;
    }
    .add {
      color: $color-main;
      font-weight: 900;
    }
  }
}

@include desktop {
  .container {
    height: 35rem;
  }
}
@include tablet {
  .container {
    height: 30rem;
    .info {
      > img {
        width: 10rem;
      }
      .text {
        margin-top: 1.5rem;
      }
    }
  }
}
@include mobile {
  .container {
    height: 25rem;
    font-size: 1.6rem;
    .info {
      > img {
        width: 8rem;
      }
      .text {
        margin-top: 1rem;
      }
    }
  }
}
