@import 'styles/global.scss';

.input {
  border-bottom: 0.1rem solid $color-c4c4c4;
  width: 48rem;
  height: 6rem;
  font-size: 1.6rem;
  font-weight: 400;
  &::placeholder {
    color: $color-767676;
  }
}
