@import 'styles/global.scss';

.card {
  width: 36rem;
  min-width: 36rem;
  height: 48rem;
  background-color: #fff;
  overflow: hidden;
  place-self: center;
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    position: relative;
  }
  footer {
    display: flex;
    justify-content: space-between;
    .action {
      display: flex;
      align-items: center;
    }
    .time {
      font-size: 1.4rem;
      color: $color-767676;
      cursor: default;
    }
  }
}
