@import 'styles/global.scss';

.announce {
  font-size: 2rem;
  strong {
    font-size: 2.1rem;
    font-weight: 900;
    color: $color-main;
    text-decoration: underline;
  }
}
.button {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
