@import 'styles/global.scss';

.container {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border: 1px solid $color-c4c4c4;
  border-radius: 1rem;
  overflow: hidden;
  .image {
    width: 50rem;
    height: 50rem;
    outline: 1px solid $color-c4c4c4;
  }
  .info {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    width: 50rem;
    .name {
      font-size: 3rem;
      font-weight: 700;
      word-break: break-all;
    }
    .price {
      font-size: 2rem;
      margin: 2rem 0;
    }
    .seller {
      margin-top: auto;
      font-size: 1.6rem;
      font-weight: 700;
      color: $color-main;
      margin-bottom: 1rem;
    }
    .author {
      display: flex;
      align-items: center;
      &:hover {
        opacity: 0.5;
      }
      .profile {
        width: 5em;
        height: 5rem;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 1rem;
      }
      .user {
        font-size: 1.6rem;
        font-weight: 700;
      }
      .account {
        font-size: 1.2rem;
        color: $color-767676;
      }
    }
    .time {
      font-size: 1.4rem;
      color: $color-767676;
      text-align: right;
    }
  }
}
.button {
  display: flex;
  gap: 3rem;
  margin-top: 3rem;
  justify-content: center;
}
