@import 'styles/global.scss';
@import 'styles/mixin.scss';

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  width: 100%;
  padding: 5rem 32rem;

  .text {
    color: $color-767676;
    font-size: 1.4rem;
    word-break: break-all;
    :first-child {
      font-weight: 700;
    }
  }
  .gitHub {
    width: 10rem;
    aspect-ratio: 2/1;
    overflow: hidden;
    border-radius: 1rem;
    padding: 0;
    background-color: $color-c4c4c4;
    > img {
      width: 90%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.container {
  @include modalContainer;
  .title {
    font-size: 2rem;
    font-weight: 700;
  }
  .listBtn {
    > li {
      border: 1px solid $color-c4c4c4;
      color: $color-767676;
      border-radius: 1rem;
      padding: 1rem 2rem;
      font-size: 1.4rem;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      &:hover {
        border: 1px solid $color-767676;
        color: black;
        font-weight: 700;
      }
    }
  }
}
.list {
  @extend .footer;
  padding: 5rem 20rem;
}
@include desktop {
  .footer {
    padding: 5rem 15rem;
  }
  .list {
    padding: 5rem 12rem;
  }
}
@include tablet {
  .footer {
    padding: 5rem 10rem;
  }
  .list {
    padding: 5rem 8rem;
  }
}
@include mobile {
  .footer {
    padding: 3rem 1rem;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    .gitHub {
      width: 8rem;
    }
  }
}
